body{
  background: url(../src/assets/dist/img/Paisaje.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;

}
